// Rubik Mono One"
@font-face 
{
    font-family: "Rubik Mono One";
    src: url("@/assets/fonts/rubik_mono_one/RubikMonoOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

// Titillium Web
@font-face 
{
    font-family: "Titillium Web";
    src: url("@/assets/fonts/titillium_web/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: "Titillium Web";
    src: url("@/assets/fonts/titillium_web/TitilliumWeb-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}