/* #region Colors */

$color--elevation-level-0: #000000;
$color--elevation-level-1: #121212;
$color--elevation-level-2: #222222;
$color--elevation-level-3: #323232;
$color--elevation-level-4: #424242;
$color--elevation-level-5: #525252;
$color--elevation-level-6: #626262;
$color--elevation-level-7: #727272;
$color--elevation-level-max: #F5F5F5;

$color--font-default: #F5F5F5; 
$color--font-default-alt: #121212;

/* #endregion Colors */

/* #region Fonts */

// (?) The font property is a shorthand property for:
//      > font-style 
//      > font-variant
//      > font-weight
//      > font-size/line-height 
//      > font-family
//      
//      required: font-size and font-family
// ==================================================

// Sign
$font--sign-header: normal normal 3rem / 1 "Rubik Mono One", monospace;
$font--sign-clock-time: normal bold 2rem / 1 "Titillium Web", sans-serif;
$font--sign-clock-period: normal bold 1rem / 1 "Titillium Web", sans-serif;
$font--sign-quote: normal bold 2rem / 1.25 "Titillium Web", sans-serif;

// Settings
$font--control-element-default: normal bold 1.25rem / 1 "Titillium Web", sans-serif;
$font--control-element-icon-button: normal bold 1.5rem / 1 "Titillium Web", sans-serif;

// Action menu
$font--action-menu-default: normal normal 1rem / 1 "Titillium Web", sans-serif;

/* #endregion Fonts */

/* #region Sizes */

$size--sign-max-width-mobile:   325px;
$size--sign-max-width-desktop:  500px;


/* #endregion Sizes */

/* #region Shadows */

$shadow--text-default: 0px 2px 4px rgba(0, 0, 0, 0.5); 

/* #endregion Shadows */
