@use "variables.scss";
@use "mixins.scss";
@use "fonts.scss";

#CSSViewer_block
{
  *
  {
    color: black;
  }
}

*, *::after, *::before
{
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  pointer-events: all;

  color: whitesmoke;
}

#app
{
  width: 100%;
 // height: 100%;  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

  --color--interactive-default: red
  --color--interactive-hovered: green;
  --color--interactive-pressed: blue;
}

svg
{
  display: block;
  width: 24px;
  height: 24px;
}

.svg-icon
{
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

//    @include mixins.svg-icon-interactive-colors();
}

/* #region Scrollbar */

::-webkit-scrollbar-track 
{
  border-radius: 10px;
  background-color: variables.$color--elevation-level-1;
  overflow: hidden;
}

::-webkit-scrollbar 
{
  width: 7px;
  overflow: hidden;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb 
{
  border-radius: 10px;
  background-color: variables.$color--elevation-level-4;
}

*
{
  scrollbar-width: auto; 
  scrollbar-color:variables.$color--elevation-level-4 variables.$color--elevation-level-1;
}

/* #endregion Scrollbar */
