@use "variables.scss";
@use "mixins.scss";


/* #region Checkbox, RadioButton, ToggleSwitch */

.checkbox,
.radio-button,
.toggle-switch
{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    &__content
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        flex-grow: 1;
        gap: 8px;

        cursor: pointer;
    }

    &__indicator 
    {
        padding: 4px;
    }

    // "Hide" default checkbox/radio button
    &__input
    {
      position: absolute;
      opacity: 0;
      left: 0;
    }

    &__text
    {
        user-select: none;
        font: variables.$font--settings-element;
        text-align: left;
        color: var(--color--font-default);
    }
}

/* #endregion */

/* #region Checkbox, RadioButton */

.checkbox,
.radio-button
{
    .svg-icon
    {
        @include mixins.svg-icon__size(variables.$size--settings-item-icon);
    }

    // States (checked/unchecked)

    &--checked 
    {           
        .svg-icon
        {
            @include mixins.svg-icon__colors(
                var(--color--setting-icon-checked-default),
                var(--color--setting-icon-checked-hovered),
                var(--color--setting-icon-checked-pressed));
        }
    
        .checkbox__indicator,
        .radio-button__indicator
        {
            background: var(--color--setting-background-checked-default);
            border: 2px solid var(--color--setting-border-checked-default);
        }

        &:hover
        {
            .checkbox__indicator,
            .radio-button__indicator
            {
                background: var(--color--setting-background-checked-hovered);
                border: 2px solid var(--color--setting-border-checked-hovered);
            }    
        }

        &:hover:active
        {
            .checkbox__indicator,
            .radio-button__indicator
            {
                background: var(--color--setting-background-checked-pressed);
                border: 2px solid var(--color--setting-border-checked-pressed);
            }    
        }
    }

    &--unchecked 
    {
        .svg-icon
        {
            @include mixins.svg-icon__colors(
                transparent,
                transparent,
                transparent);
        }

        .checkbox__indicator,
        .radio-button__indicator
        {
            background: var(--color--setting-background-unchecked-default);
            border: 2px solid var(--color--setting-border-unchecked-default);
        }

        &:hover
        {
            .checkbox__indicator,
            .radio-button__indicator
            {
                background: var(--color--setting-background-unchecked-hovered);
                border: 2px solid var(--color--setting-border-unchecked-hovered);
            }    
        }

        &:hover:active
        {
            .checkbox__indicator,
            .radio-button__indicator
            {
                background: var(--color--setting-background-unchecked-pressed);
                border: 2px solid var(--color--setting-border-unchecked-pressed);
            }    
        }
    }
}

 .checkbox
{
    &__indicator
    {
        border-radius: 4px;
    }
}

.radio-button
{
    &__indicator
    {
        border-radius: 100%;
    }
}

/* #endregion */

/* #region ToggleSwitch */

.toggle-switch
{
    
    &__indicator
    {
        border-radius: 4px;
        padding: 4px;

        background: var(--color--toggle-button-background-default);

        width: variables.$size--settings-toggle-indicator;
    }

    .svg-icon
    {
        padding: 4px;
        border-radius: 4px;

        background: var(--color--toggle-button-foreground-default);

        @include mixins.svg-icon__colors(
            var(--color--toggle-button-icon-default),
            var(--color--toggle-button-icon-hovered),
            var(--color--toggle-button-icon-pressed));
        @include mixins.svg-icon__size(variables.$size--settings-toggle-icon);

        width: variables.$size--settings-toggle-icon + 4px*2;
       
        transition: margin-left 500ms ease-in-out;
    }

    &:hover
    {
        .toggle-switch__indicator
        {
           background: var(--color--toggle-button-background-hovered);
        }

        .svg-icon
        {
            background: var(--color--toggle-button-foreground-hovered);
        }
    
    }

    &:hover:active
    {
        .toggle-switch__indicator
        {
           background: var(--color--toggle-button-background-pressed);
        }

        .svg-icon
        {
            background: var(--color--toggle-button-foreground-pressed);
        }

    }

    /* #region States (on/off) */

    &--on 
    {
        .svg-icon
        {
            margin-left: 0px;
        }
    }

    &--off 
    {
        .svg-icon
        {
            margin-left: variables.$size--settings-toggle-indicator - variables.$size--settings-toggle-icon - 4px*2 - 4px*2;
        }
    }

    /* #endregion */
}

/* #endregion */

/* #region IconButton */

.icon-button
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    border-radius: 8px ;
    overflow: hidden;
    border: none;
    outline: none;

    &__content
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;

    }

    cursor: pointer;
    background: transparent;
  
    .svg-icon
    {
        @include mixins.svg-icon__size(variables.$size--settings-item-icon);
        @include mixins.svg-icon__colors(
            var(--color--icon-button-icon-default),
            var(--color--icon-button-icon-hovered),
            var(--color--icon-button-icon-pressed));
    }

    &__indicator
    {
        background: var(--color--icon-button-background-icon-default);
        padding: 8px;
        overflow: hidden;
        border-radius: 8px 0 0 8px;
    }
    
    &__text
    {
        user-select: none;
        font: variables.$font--settings-element;
        text-align: left;
        color: var(--color--font-default-alt);

       // background: red;
        padding-left: 8px;
        flex-grow: 1;
      

        display: flex;
        justify-content: flex-start; 
        align-items: center; 

        background: var(--color--icon-button-background-text-default);
    }

    &:hover
    {
        
        .icon-button__indicator
        {
            background: var(--color--icon-button-background-icon-hovered);
        }
        .icon-button__text
        {
            background: var(--color--icon-button-background-text-hovered);;
        }
    }

    &:hover:active
    {
        //background: var(--color--interactive-border-default);;
        .icon-button__indicator
        {
            background: var(--color--icon-button-background-icon-pressed);
        }
        .icon-button__text
        {
            background: var(--color--icon-button-background-text-pressed);
        }
    }

}

/* #endregion */