@use "variables.scss";
@use "mixins.scss";

.sign
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; 
   
    border-radius: 8px;
    overflow: hidden;

    background-color: var(--color--card-background-low);
    color: var(--color--font-default);

    height: auto;
    max-width: variables.$size--sign-max-width-mobile;

    &__header
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 

        background-color: var(--color--card-background-high);

        font: variables.$font--sign-index;
        padding: 16px;   
    }
    
    &__button
    {
      background: none;
      border: none;
      cursor: pointer;

      .svg-icon
      {
        @include mixins.svg-icon__colors(var(--color--interactive-background-default-alt));
        @include mixins.svg-icon__size(variables.$size--navigation-arrow-icon);
      }

    }

    &__index
    {
        text-align: center;
        margin: 0 auto;
        user-select: none; 
    }

    &__timer
    {
        background-color: var(--color--card-background-low);

        text-align: center;
        
        .clock
        {
            display: flex;
            flex-direction: row; 
            justify-content: center;
            align-items: center;
            
            padding: 0 8px;
            gap: 16px;
 
            .clock__time
            {
                text-align: center;

                font: variables.$font--sign-clock-time;
                padding: 0.25rem 0;
            }

            .clock__placeholder,
            .clock__period
            {
   
                font: variables.$font--sign-clock-period;
                border-radius: 8px;

                display: flex;
                flex-direction: row; /* Stack the elements vertically */
                justify-content: center;
                align-items: center;

                flex: 1;

                padding: 0.5rem  16px ;
                

            }

            .clock__period
            {
                background: var(--color--font-default-alt);
                color: var(--color--font-default);
            }
        }
    }
    
    &__image
    {
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        background: var(--color--card-backround-image);
    }
    
    .image-frame
    {
        height: auto;
        position: absolute;
        display: none;
    }

    #image
    { 
        overflow: hidden;
     
        width: 100%; 
        height: auto;

        max-width: 325px;
        max-height: 325px;
    }

    &__quote
    {
        display: flex;
        justify-content: center;
        align-items: center; 

        min-height: 8rem;
        padding: 1rem 1rem;

        background-color: var(--color--card-background-low);

        font: variables.$font--sign-quote;
        color: var(--color--font-default);
        text-align: center;
    }
}
