/* #region Colors */
/* #endregion Colors */
/* #region Fonts */
/* #endregion Fonts */
/* #region Sizes */
/* #endregion Sizes */
/* #region Shadows */
/* #endregion Shadows */
/* #region Checkbox, RadioButton, ToggleSwitch */
.checkbox,
.radio-button,
.toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.checkbox__content,
.radio-button__content,
.toggle-switch__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
  cursor: pointer;
}
.checkbox__indicator,
.radio-button__indicator,
.toggle-switch__indicator {
  padding: 4px;
}
.checkbox__input,
.radio-button__input,
.toggle-switch__input {
  position: absolute;
  opacity: 0;
  left: 0;
}
.checkbox__text,
.radio-button__text,
.toggle-switch__text {
  user-select: none;
  font: normal bold 1.25rem/1 "Titillium Web", sans-serif;
  text-align: left;
  color: var(--color--font-default);
}

/* #endregion */
/* #region Checkbox, RadioButton */
.checkbox .svg-icon svg,
.radio-button .svg-icon svg {
  width: 24px;
  height: 24px;
}
.checkbox--checked .svg-icon--default svg,
.radio-button--checked .svg-icon--default svg {
  fill: var(--color--setting-icon-checked-default);
}
.checkbox--checked .svg-icon--hovered svg,
.radio-button--checked .svg-icon--hovered svg {
  fill: var(--color--setting-icon-checked-hovered);
}
.checkbox--checked .svg-icon--pressed svg,
.radio-button--checked .svg-icon--pressed svg {
  fill: var(--color--setting-icon-checked-pressed);
}
.checkbox--checked .checkbox__indicator,
.checkbox--checked .radio-button__indicator,
.radio-button--checked .checkbox__indicator,
.radio-button--checked .radio-button__indicator {
  background: var(--color--setting-background-checked-default);
  border: 2px solid var(--color--setting-border-checked-default);
}
.checkbox--checked:hover .checkbox__indicator,
.checkbox--checked:hover .radio-button__indicator,
.radio-button--checked:hover .checkbox__indicator,
.radio-button--checked:hover .radio-button__indicator {
  background: var(--color--setting-background-checked-hovered);
  border: 2px solid var(--color--setting-border-checked-hovered);
}
.checkbox--checked:hover:active .checkbox__indicator,
.checkbox--checked:hover:active .radio-button__indicator,
.radio-button--checked:hover:active .checkbox__indicator,
.radio-button--checked:hover:active .radio-button__indicator {
  background: var(--color--setting-background-checked-pressed);
  border: 2px solid var(--color--setting-border-checked-pressed);
}
.checkbox--unchecked .svg-icon--default svg,
.radio-button--unchecked .svg-icon--default svg {
  fill: transparent;
}
.checkbox--unchecked .svg-icon--hovered svg,
.radio-button--unchecked .svg-icon--hovered svg {
  fill: transparent;
}
.checkbox--unchecked .svg-icon--pressed svg,
.radio-button--unchecked .svg-icon--pressed svg {
  fill: transparent;
}
.checkbox--unchecked .checkbox__indicator,
.checkbox--unchecked .radio-button__indicator,
.radio-button--unchecked .checkbox__indicator,
.radio-button--unchecked .radio-button__indicator {
  background: var(--color--setting-background-unchecked-default);
  border: 2px solid var(--color--setting-border-unchecked-default);
}
.checkbox--unchecked:hover .checkbox__indicator,
.checkbox--unchecked:hover .radio-button__indicator,
.radio-button--unchecked:hover .checkbox__indicator,
.radio-button--unchecked:hover .radio-button__indicator {
  background: var(--color--setting-background-unchecked-hovered);
  border: 2px solid var(--color--setting-border-unchecked-hovered);
}
.checkbox--unchecked:hover:active .checkbox__indicator,
.checkbox--unchecked:hover:active .radio-button__indicator,
.radio-button--unchecked:hover:active .checkbox__indicator,
.radio-button--unchecked:hover:active .radio-button__indicator {
  background: var(--color--setting-background-unchecked-pressed);
  border: 2px solid var(--color--setting-border-unchecked-pressed);
}

.checkbox__indicator {
  border-radius: 4px;
}

.radio-button__indicator {
  border-radius: 100%;
}

/* #endregion */
/* #region ToggleSwitch */
.toggle-switch {
  /* #region States (on/off) */
  /* #endregion */
}
.toggle-switch__indicator {
  border-radius: 4px;
  padding: 4px;
  background: var(--color--toggle-button-background-default);
  width: 92px;
}
.toggle-switch .svg-icon {
  padding: 4px;
  border-radius: 4px;
  background: var(--color--toggle-button-foreground-default);
  width: 28px;
  transition: margin-left 500ms ease-in-out;
}
.toggle-switch .svg-icon--default svg {
  fill: var(--color--toggle-button-icon-default);
}
.toggle-switch .svg-icon--hovered svg {
  fill: var(--color--toggle-button-icon-hovered);
}
.toggle-switch .svg-icon--pressed svg {
  fill: var(--color--toggle-button-icon-pressed);
}
.toggle-switch .svg-icon svg {
  width: 20px;
  height: 20px;
}
.toggle-switch:hover .toggle-switch__indicator {
  background: var(--color--toggle-button-background-hovered);
}
.toggle-switch:hover .svg-icon {
  background: var(--color--toggle-button-foreground-hovered);
}
.toggle-switch:hover:active .toggle-switch__indicator {
  background: var(--color--toggle-button-background-pressed);
}
.toggle-switch:hover:active .svg-icon {
  background: var(--color--toggle-button-foreground-pressed);
}
.toggle-switch--on .svg-icon {
  margin-left: 0px;
}
.toggle-switch--off .svg-icon {
  margin-left: 56px;
}

/* #endregion */
/* #region IconButton */
.icon-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 8px;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}
.icon-button__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}
.icon-button .svg-icon svg {
  width: 24px;
  height: 24px;
}
.icon-button .svg-icon--default svg {
  fill: var(--color--icon-button-icon-default);
}
.icon-button .svg-icon--hovered svg {
  fill: var(--color--icon-button-icon-hovered);
}
.icon-button .svg-icon--pressed svg {
  fill: var(--color--icon-button-icon-pressed);
}
.icon-button__indicator {
  background: var(--color--icon-button-background-icon-default);
  padding: 8px;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
}
.icon-button__text {
  user-select: none;
  font: normal bold 1.25rem/1 "Titillium Web", sans-serif;
  text-align: left;
  color: var(--color--font-default-alt);
  padding-left: 8px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--color--icon-button-background-text-default);
}
.icon-button:hover .icon-button__indicator {
  background: var(--color--icon-button-background-icon-hovered);
}
.icon-button:hover .icon-button__text {
  background: var(--color--icon-button-background-text-hovered);
}
.icon-button:hover:active .icon-button__indicator {
  background: var(--color--icon-button-background-icon-pressed);
}
.icon-button:hover:active .icon-button__text {
  background: var(--color--icon-button-background-text-pressed);
}

/* #endregion *//*# sourceMappingURL=controls.css.map */